In [1]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

tables = pd.read_html(url)

sp500_df = tables[0]

sp500_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [2]:
tech_df = sp500_df[sp500_df['GICS Sector'] == 'Information Technology']

In [3]:
tech_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969
12,AKAM,Akamai Technologies,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222,1998
33,APH,Amphenol,Information Technology,Electronic Components,"Wallingford, Connecticut",2008-09-30,820313,1932
...,...,...,...,...,...,...,...,...
453,TYL,Tyler Technologies,Information Technology,Application Software,"Plano, Texas",2020-06-22,860731,1966
468,VRSN,Verisign,Information Technology,Internet Services & Infrastructure,"Dulles, Virginia",2006-02-01,1014473,1995
490,WDC,Western Digital,Information Technology,"Technology Hardware, Storage & Peripherals","San Jose, California",2009-07-01,106040,1970
495,WDAY,"Workday, Inc.",Information Technology,Application Software,"Pleasanton, California",2024-12-23,1327811,2005
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969

In [4]:
tt=tech_df[["Symbol"]]

In [5]:
tt

    Symbol
4      ACN
5     ADBE
6      AMD
12    AKAM
33     APH
..     ...
453    TYL
468   VRSN
490    WDC
495   WDAY
500   ZBRA

[69 rows x 1 columns]

In [6]:
tickers=tt["Symbol"].tolist()

In [7]:
import requests
from bs4 import BeautifulSoup

In [8]:
url = "https://finance.yahoo.com/quote/AAPL/key-statistics?p=AAPL"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 OPR/118.0.0.0"}  # BazÄ± sitelerde user-agent ÅŸart

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

rows = soup.find_all("tr", class_="yf-kbx2lo")

data = {}

In [9]:
rows

[<tr class="yf-kbx2lo"><th class="yf-kbx2lo"></th> <th class="yf-kbx2lo">Current</th><th class="yf-kbx2lo">3/31/2025</th><th class="yf-kbx2lo">12/31/2024</th><th class="yf-kbx2lo">9/30/2024</th><th class="yf-kbx2lo">6/30/2024</th><th class="yf-kbx2lo">3/31/2024</th></tr>,
 <tr class="yf-kbx2lo alt"><td class="yf-kbx2lo">Market Cap</td> <td class="yf-kbx2lo">2.99T </td><td class="yf-kbx2lo">3.32T </td><td class="yf-kbx2lo">3.77T </td><td class="yf-kbx2lo">3.52T </td><td class="yf-kbx2lo">3.23T </td><td class="yf-kbx2lo">2.65T </td> </tr>,
 <tr class="yf-kbx2lo"><td class="yf-kbx2lo">Enterprise Value</td> <td class="yf-kbx2lo">3.04T </td><td class="yf-kbx2lo">3.36T </td><td class="yf-kbx2lo">3.81T </td><td class="yf-kbx2lo">3.56T </td><td class="yf-kbx2lo">3.27T </td><td class="yf-kbx2lo">2.68T </td> </tr>,
 <tr class="yf-kbx2lo alt"><td class="yf-kbx2lo">Trailing P/E</td> <td class="yf-kbx2lo">31.22 </td><td class="yf-kbx2lo">35.26 </td><td class="yf-kbx2lo">41.19 </td><td class="yf-kbx2lo">35.46 </td><td class="yf-kbx2lo">32.76 </td><td class="yf-kbx2lo">26.67 </td> </tr>,
 <tr class="yf-kbx2lo"><td class="yf-kbx2lo">Forward P/E</td> <td class="yf-kbx2lo">28.01 </td><td class="yf-kbx2lo">30.30 </td><td class="yf-kbx2lo">33.67 </td><td class="yf-kbx2lo">30.67 </td><td class="yf-kbx2lo">28.65 </td><td class="yf-kbx2lo">26.32 </td> </tr>,
 <tr class="yf-kbx2lo alt"><td class="yf-kbx2lo">PEG Ratio (5yr expected)</td> <td class="yf-kbx2lo">2.04 </td><td class="yf-kbx2lo">2.06 </td><td class="yf-kbx2lo">2.29 </td><td class="yf-kbx2lo">2.24 </td><td class="yf-kbx2lo">2.23 </td><td class="yf-kbx2lo">2.11 </td> </tr>,
 <tr class="yf-kbx2lo"><td class="yf-kbx2lo">Price/Sales</td> <td class="yf-kbx2lo">7.61 </td><td class="yf-kbx2lo">8.59 </td><td class="yf-kbx2lo">9.87 </td><td class="yf-kbx2lo">9.38 </td><td class="yf-kbx2lo">8.62 </td><td class="yf-kbx2lo">6.99 </td> </tr>,
 <tr class="yf-kbx2lo alt"><td class="yf-kbx2lo">Price/Book</td> <td class="yf-kbx2lo">44.81 </td><td class="yf-kbx2lo">49.71 </td><td class="yf-kbx2lo">66.14 </td><td class="yf-kbx2lo">52.80 </td><td class="yf-kbx2lo">43.21 </td><td class="yf-kbx2lo">35.49 </td> </tr>,
 <tr class="yf-kbx2lo"><td class="yf-kbx2lo">Enterprise Value/Revenue</td> <td class="yf-kbx2lo">7.60 </td><td class="yf-kbx2lo">8.49 </td><td class="yf-kbx2lo">9.74 </td><td class="yf-kbx2lo">9.24 </td><td class="yf-kbx2lo">8.56 </td><td class="yf-kbx2lo">6.96 </td> </tr>,
 <tr class="yf-kbx2lo alt"><td class="yf-kbx2lo">Enterprise Value/EBITDA</td> <td class="yf-kbx2lo">21.91 </td><td class="yf-kbx2lo">24.47 </td><td class="yf-kbx2lo">28.28 </td><td class="yf-kbx2lo">26.35 </td><td class="yf-kbx2lo">24.57 </td><td class="yf-kbx2lo">20.10 </td> </tr>]

In [10]:
for row in rows:
    cells = row.find_all("td")
    if len(cells) >= 2:
        title = cells[0].text.strip()     
        first_value = cells[1].text.strip()  
        data[title] = first_value

for k, v in data.items():
    print(f"{k}: {v}")

Market Cap: 2.99T
Enterprise Value: 3.04T
Trailing P/E: 31.22
Forward P/E: 28.01
PEG Ratio (5yr expected): 2.04
Price/Sales: 7.61
Price/Book: 44.81
Enterprise Value/Revenue: 7.60
Enterprise Value/EBITDA: 21.91

In [11]:
data

{'Market Cap': '2.99T',
 'Enterprise Value': '3.04T',
 'Trailing P/E': '31.22',
 'Forward P/E': '28.01',
 'PEG Ratio (5yr expected)': '2.04',
 'Price/Sales': '7.61',
 'Price/Book': '44.81',
 'Enterprise Value/Revenue': '7.60',
 'Enterprise Value/EBITDA': '21.91'}

In [12]:
df= pd.DataFrame([data])

In [13]:
df

,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,2.99T,3.04T,31.22,28.01,2.04,7.61,44.81,7.60,21.91

In [14]:
import numpy as np
import pandas as pd

df_expanded = pd.DataFrame(
    [df.iloc[0].tolist()] + [[np.nan]*df.shape[1] for _ in range(len(tt)-1)],
    columns=df.columns  
)

result = pd.concat([tt.reset_index(drop=True), df_expanded.reset_index(drop=True)], axis=1)

In [15]:
result

,Symbol,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,ACN,2.99T,3.04T,31.22,28.01,2.04,7.61,44.81,7.60,21.91
1,ADBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AKAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
64,TYL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,VRSN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,WDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,WDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,ZBRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
result.iloc[:, 1:] = None  

result

,Symbol,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,ACN,None,None,None,None,None,None,None,None,None
1,ADBE,None,None,None,None,None,None,None,None,None
2,AMD,None,None,None,None,None,None,None,None,None
3,AKAM,None,None,None,None,None,None,None,None,None
4,APH,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
64,TYL,None,None,None,None,None,None,None,None,None
65,VRSN,None,None,None,None,None,None,None,None,None
66,WDC,None,None,None,None,None,None,None,None,None
67,WDAY,None,None,None,None,None,None,None,None,None
68,ZBRA,None,None,None,None,None,None,None,None,None

In [17]:
result.sort_values("Symbol", inplace=True)

In [18]:
result

,Symbol,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
7,AAPL,None,None,None,None,None,None,None,None,None
0,ACN,None,None,None,None,None,None,None,None,None
1,ADBE,None,None,None,None,None,None,None,None,None
5,ADI,None,None,None,None,None,None,None,None,None
10,ADSK,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
64,TYL,None,None,None,None,None,None,None,None,None
65,VRSN,None,None,None,None,None,None,None,None,None
67,WDAY,None,None,None,None,None,None,None,None,None
66,WDC,None,None,None,None,None,None,None,None,None
68,ZBRA,None,None,None,None,None,None,None,None,None

In [19]:
import time

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 OPR/118.0.0.0"
}

all_data = []

for ticker in tickers:
    print(f"Veri Ã§ekiliyor: {ticker}")
    url = f"https://finance.yahoo.com/quote/{ticker}/key-statistics?p={ticker}"
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    rows = soup.find_all("tr", class_="yf-kbx2lo")
    
    data = {"Symbol": ticker}
    for row in rows:
        cells = row.find_all("td")
        if len(cells) >= 2:
            key = cells[0].text.strip()
            val = cells[1].text.strip()
            data[key] = val
    
    all_data.append(data)
    time.sleep(2)  


df = pd.DataFrame(all_data)


df = df.sort_values("Symbol").reset_index(drop=True)


print(df.head())

Veri Ã§ekiliyor: ACN
Veri Ã§ekiliyor: ADBE
Veri Ã§ekiliyor: AMD
Veri Ã§ekiliyor: AKAM
Veri Ã§ekiliyor: APH
Veri Ã§ekiliyor: ADI
Veri Ã§ekiliyor: ANSS
Veri Ã§ekiliyor: AAPL
Veri Ã§ekiliyor: AMAT
Veri Ã§ekiliyor: ANET
Veri Ã§ekiliyor: ADSK
Veri Ã§ekiliyor: AVGO
Veri Ã§ekiliyor: CDNS
Veri Ã§ekiliyor: CDW
Veri Ã§ekiliyor: CSCO
Veri Ã§ekiliyor: CTSH
Veri Ã§ekiliyor: GLW
Veri Ã§ekiliyor: CRWD
Veri Ã§ekiliyor: DELL
Veri Ã§ekiliyor: ENPH
Veri Ã§ekiliyor: EPAM
Veri Ã§ekiliyor: FFIV
Veri Ã§ekiliyor: FICO
Veri Ã§ekiliyor: FSLR
Veri Ã§ekiliyor: FTNT
Veri Ã§ekiliyor: IT
Veri Ã§ekiliyor: GEN
Veri Ã§ekiliyor: GDDY
Veri Ã§ekiliyor: HPE
Veri Ã§ekiliyor: HPQ
Veri Ã§ekiliyor: IBM
Veri Ã§ekiliyor: INTC
Veri Ã§ekiliyor: INTU
Veri Ã§ekiliyor: JBL
Veri Ã§ekiliyor: JNPR
Veri Ã§ekiliyor: KEYS
Veri Ã§ekiliyor: KLAC
Veri Ã§ekiliyor: LRCX
Veri Ã§ekiliyor: MCHP
Veri Ã§ekiliyor: MU
Veri Ã§ekiliyor: MSFT
Veri Ã§ekiliyor: MPWR
Veri Ã§ekiliyor: MSI
Veri Ã§ekiliyor: NTAP
Veri Ã§ekiliyor: NVDA
Veri Ã§ekiliyor: NXPI
Veri Ã§ekiliyor: ON
Veri Ã§ekiliyor: ORCL
Veri Ã§ekiliyor: PLTR
Veri Ã§ekiliyor: PANW
Veri Ã§ekiliyor: PTC
Veri Ã§ekiliyor: QCOM
Veri Ã§ekiliyor: ROP
Veri Ã§ekiliyor: CRM
Veri Ã§ekiliyor: STX
Veri Ã§ekiliyor: NOW
Veri Ã§ekiliyor: SWKS
Veri Ã§ekiliyor: SMCI
Veri Ã§ekiliyor: SNPS
Veri Ã§ekiliyor: TEL
Veri Ã§ekiliyor: TDY
Veri Ã§ekiliyor: TER
Veri Ã§ekiliyor: TXN
Veri Ã§ekiliyor: TRMB
Veri Ã§ekiliyor: TYL
Veri Ã§ekiliyor: VRSN
Veri Ã§ekiliyor: WDC
Veri Ã§ekiliyor: WDAY
Veri Ã§ekiliyor: ZBRA
  Symbol Market Cap Enterprise Value Trailing P/E Forward P/E  \
0   AAPL      2.99T            3.04T        31.22       28.01
1    ACN    197.82B          197.38B        26.05       22.99
2   ADBE    175.69B          174.82B        27.23       20.20
3    ADI    107.00B          111.82B        58.59       28.17
4   ADSK     64.02B           64.52B        64.21       31.25

  PEG Ratio (5yr expected) Price/Sales Price/Book Enterprise Value/Revenue  \
0                     2.04        7.61      44.81                     7.60
1                     2.47        2.98       6.76                     2.94
2                     1.35        8.33      13.42                     7.93
3                     1.44       10.95       3.06                    11.39
4                     1.77       10.22      24.46                    10.17

  Enterprise Value/EBITDA
0                   21.91
1                   16.67
2                   18.98
3                   25.50
4                   40.43

In [20]:
df

,Symbol,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,AAPL,2.99T,3.04T,31.22,28.01,2.04,7.61,44.81,7.60,21.91
1,ACN,197.82B,197.38B,26.05,22.99,2.47,2.98,6.76,2.94,16.67
2,ADBE,175.69B,174.82B,27.23,20.20,1.35,8.33,13.42,7.93,18.98
3,ADI,107.00B,111.82B,58.59,28.17,1.44,10.95,3.06,11.39,25.50
4,ADSK,64.02B,64.52B,64.21,31.25,1.77,10.22,24.46,10.17,40.43
...,...,...,...,...,...,...,...,...,...,...
64,TYL,24.74B,24.57B,86.52,51.81,3.06,11.45,7.04,11.22,50.30
65,VRSN,25.27B,26.42B,32.90,30.49,2.30,16.52,--,16.77,23.19
66,WDAY,63.96B,59.38B,133.28,27.93,1.05,7.43,7.17,6.83,55.65
67,WDC,18.26B,22.35B,17.93,9.50,--,1.18,3.53,1.43,14.34
68,ZBRA,14.79B,16.27B,27.51,20.00,1.28,2.95,4.08,3.18,16.88

In [21]:
df = df.drop(df.columns[1], axis=1)

In [22]:
df

,Symbol,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5yr expected),Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,AAPL,3.04T,31.22,28.01,2.04,7.61,44.81,7.60,21.91
1,ACN,197.38B,26.05,22.99,2.47,2.98,6.76,2.94,16.67
2,ADBE,174.82B,27.23,20.20,1.35,8.33,13.42,7.93,18.98
3,ADI,111.82B,58.59,28.17,1.44,10.95,3.06,11.39,25.50
4,ADSK,64.52B,64.21,31.25,1.77,10.22,24.46,10.17,40.43
...,...,...,...,...,...,...,...,...,...
64,TYL,24.57B,86.52,51.81,3.06,11.45,7.04,11.22,50.30
65,VRSN,26.42B,32.90,30.49,2.30,16.52,--,16.77,23.19
66,WDAY,59.38B,133.28,27.93,1.05,7.43,7.17,6.83,55.65
67,WDC,22.35B,17.93,9.50,--,1.18,3.53,1.43,14.34
68,ZBRA,16.27B,27.51,20.00,1.28,2.95,4.08,3.18,16.88

In [23]:
df=df.drop(df.columns[4], axis= 1)

In [24]:
df

,Symbol,Enterprise Value,Trailing P/E,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,AAPL,3.04T,31.22,28.01,7.61,44.81,7.60,21.91
1,ACN,197.38B,26.05,22.99,2.98,6.76,2.94,16.67
2,ADBE,174.82B,27.23,20.20,8.33,13.42,7.93,18.98
3,ADI,111.82B,58.59,28.17,10.95,3.06,11.39,25.50
4,ADSK,64.52B,64.21,31.25,10.22,24.46,10.17,40.43
...,...,...,...,...,...,...,...,...
64,TYL,24.57B,86.52,51.81,11.45,7.04,11.22,50.30
65,VRSN,26.42B,32.90,30.49,16.52,--,16.77,23.19
66,WDAY,59.38B,133.28,27.93,7.43,7.17,6.83,55.65
67,WDC,22.35B,17.93,9.50,1.18,3.53,1.43,14.34
68,ZBRA,16.27B,27.51,20.00,2.95,4.08,3.18,16.88

In [25]:
df=df.drop(df.columns[2], axis= 1)

In [26]:
df=df.drop(df.columns[1], axis= 1)

In [27]:
df

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA
0,AAPL,28.01,7.61,44.81,7.60,21.91
1,ACN,22.99,2.98,6.76,2.94,16.67
2,ADBE,20.20,8.33,13.42,7.93,18.98
3,ADI,28.17,10.95,3.06,11.39,25.50
4,ADSK,31.25,10.22,24.46,10.17,40.43
...,...,...,...,...,...,...
64,TYL,51.81,11.45,7.04,11.22,50.30
65,VRSN,30.49,16.52,--,16.77,23.19
66,WDAY,27.93,7.43,7.17,6.83,55.65
67,WDC,9.50,1.18,3.53,1.43,14.34
68,ZBRA,20.00,2.95,4.08,3.18,16.88

In [28]:
from scipy.stats import percentileofscore

cols = df.columns[1:6]

for col in cols:
    new_col = col + "_percentile"
    df[new_col] = df[col].apply(lambda x: 1 - percentileofscore(df[col], x) / 100)

In [32]:
df

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
0,AAPL,28.01,7.61,44.81,7.60,21.91,0.449275,0.086957,0.217391,0.101449,0.536232,1.391304
1,ACN,22.99,2.98,6.76,2.94,16.67,0.579710,0.550725,0.101449,0.579710,0.739130,2.550725
2,ADBE,20.20,8.33,13.42,7.93,18.98,0.652174,0.072464,0.739130,0.086957,0.637681,2.188406
3,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797
4,ADSK,31.25,10.22,24.46,10.17,40.43,0.289855,0.855072,0.521739,0.855072,0.231884,2.753623
...,...,...,...,...,...,...,...,...,...,...,...,...
64,TYL,51.81,11.45,7.04,11.22,50.30,0.101449,0.797101,0.072464,0.811594,0.130435,1.913043
65,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710
66,WDAY,27.93,7.43,7.17,6.83,55.65,0.463768,0.101449,0.057971,0.144928,0.115942,0.884058
67,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478
68,ZBRA,20.00,2.95,4.08,3.18,16.88,0.673913,0.565217,0.347826,0.478261,0.724638,2.789855

In [33]:
percentile_cols = [col + "_percentile" for col in df.columns[1:6]]

df["Total_Percentile_Score"] = df[percentile_cols].sum(axis=1)

In [34]:
df

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
0,AAPL,28.01,7.61,44.81,7.60,21.91,0.449275,0.086957,0.217391,0.101449,0.536232,1.391304
1,ACN,22.99,2.98,6.76,2.94,16.67,0.579710,0.550725,0.101449,0.579710,0.739130,2.550725
2,ADBE,20.20,8.33,13.42,7.93,18.98,0.652174,0.072464,0.739130,0.086957,0.637681,2.188406
3,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797
4,ADSK,31.25,10.22,24.46,10.17,40.43,0.289855,0.855072,0.521739,0.855072,0.231884,2.753623
...,...,...,...,...,...,...,...,...,...,...,...,...
64,TYL,51.81,11.45,7.04,11.22,50.30,0.101449,0.797101,0.072464,0.811594,0.130435,1.913043
65,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710
66,WDAY,27.93,7.43,7.17,6.83,55.65,0.463768,0.101449,0.057971,0.144928,0.115942,0.884058
67,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478
68,ZBRA,20.00,2.95,4.08,3.18,16.88,0.673913,0.565217,0.347826,0.478261,0.724638,2.789855

In [37]:
df = df.sort_values(by='Total_Percentile_Score', ascending=False)

In [38]:
df

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
18,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609
34,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319
13,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420
17,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449
58,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536
...,...,...,...,...,...,...,...,...,...,...,...,...
0,AAPL,28.01,7.61,44.81,7.60,21.91,0.449275,0.086957,0.217391,0.101449,0.536232,1.391304
39,MCHP,41.67,7.01,4.38,8.15,34.49,0.159420,0.130435,0.318841,0.072464,0.304348,0.985507
52,PTC,30.21,8.63,5.93,9.12,27.82,0.362319,0.028986,0.144928,0.043478,0.362319,0.942029
66,WDAY,27.93,7.43,7.17,6.83,55.65,0.463768,0.101449,0.057971,0.144928,0.115942,0.884058
51,PLTR,227.27,98.89,53.84,92.09,658.97,0.565217,0.000000,0.130435,0.000000,0.101449,0.797101

In [40]:
df=df.reset_index()

In [42]:
df

,level_0,index,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
0,0,18,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609
1,1,34,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319
2,2,13,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420
3,3,17,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449
4,4,58,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,64,0,AAPL,28.01,7.61,44.81,7.60,21.91,0.449275,0.086957,0.217391,0.101449,0.536232,1.391304
65,65,39,MCHP,41.67,7.01,4.38,8.15,34.49,0.159420,0.130435,0.318841,0.072464,0.304348,0.985507
66,66,52,PTC,30.21,8.63,5.93,9.12,27.82,0.362319,0.028986,0.144928,0.043478,0.362319,0.942029
67,67,66,WDAY,27.93,7.43,7.17,6.83,55.65,0.463768,0.101449,0.057971,0.144928,0.115942,0.884058
68,68,51,PLTR,227.27,98.89,53.84,92.09,658.97,0.565217,0.000000,0.130435,0.000000,0.101449,0.797101

In [43]:
df.drop(columns=[
    "index", "level_0"], inplace=True)  # Liste olarak da verebilirsin

In [44]:
df

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536
...,...,...,...,...,...,...,...,...,...,...,...,...
64,AAPL,28.01,7.61,44.81,7.60,21.91,0.449275,0.086957,0.217391,0.101449,0.536232,1.391304
65,MCHP,41.67,7.01,4.38,8.15,34.49,0.159420,0.130435,0.318841,0.072464,0.304348,0.985507
66,PTC,30.21,8.63,5.93,9.12,27.82,0.362319,0.028986,0.144928,0.043478,0.362319,0.942029
67,WDAY,27.93,7.43,7.17,6.83,55.65,0.463768,0.101449,0.057971,0.144928,0.115942,0.884058
68,PLTR,227.27,98.89,53.84,92.09,658.97,0.565217,0.000000,0.130435,0.000000,0.101449,0.797101

In [77]:
dfbuy=df[:20]

In [78]:
dfbuy

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536
5,SMCI,13.64,1.22,3.93,1.16,18.12,0.884058,0.898551,0.398551,0.927536,0.666667,3.775362
6,EPAM,16.42,2.06,2.71,1.82,13.22,0.797101,0.637681,0.579710,0.884058,0.855072,3.753623
7,STX,12.64,3.00,--,3.42,13.66,0.913043,0.478261,0.956522,0.449275,0.811594,3.608696
8,AKAM,12.36,2.90,2.37,3.53,11.20,0.942029,0.579710,0.623188,0.434783,0.942029,3.521739
9,ON,19.05,2.76,2.23,2.74,12.52,0.724638,0.608696,0.652174,0.594203,0.869565,3.449275
10,NTAP,12.80,3.23,20.67,3.16,11.94,0.898551,0.434783,0.565217,0.500000,0.913043,3.311594
11,TXN,33.44,10.54,10.20,10.91,22.99,0.260870,0.840580,0.869565,0.826087,0.492754,3.289855
12,JNPR,17.61,2.34,2.49,2.37,19.45,0.739130,0.623188,0.608696,0.623188,0.608696,3.202899
13,MSFT,30.49,12.65,10.56,12.52,22.53,0.340580,0.753623,0.811594,0.739130,0.521739,3.166667
14,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710
15,HPQ,7.49,0.49,--,0.62,7.31,0.057971,0.985507,0.956522,0.985507,0.086957,3.072464
16,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478
17,HPE,9.82,0.77,0.92,0.89,5.62,0.000000,0.956522,0.898551,0.956522,0.159420,2.971014
18,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797
19,TEL,20.00,3.04,3.93,3.16,13.52,0.673913,0.463768,0.398551,0.500000,0.840580,2.876812

In [79]:
tickerr=dfbuy["Symbol"].tolist()
tickerr

['DELL',
 'JBL',
 'CDW',
 'CTSH',
 'SWKS',
 'SMCI',
 'EPAM',
 'STX',
 'AKAM',
 'ON',
 'NTAP',
 'TXN',
 'JNPR',
 'MSFT',
 'VRSN',
 'HPQ',
 'WDC',
 'HPE',
 'ADI',
 'TEL']

In [56]:
prices = []

for ticker in tickerr:
    url = f"https://finance.yahoo.com/quote/{ticker}/"
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 OPR/118.0.0.0"
    }
    
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    price_span = soup.find("span", {"data-testid": "qsp-price"})
    print("Fiyat",price_span)
    if price_span:
        try:
            price = float(price_span.text.replace(",", ""))
        except:
            price = None
    else:
        price = None

    prices.append(price)
    time.sleep(1)

Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">113.17 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">168.01 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">182.00 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">80.52 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">69.45 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">41.63 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">173.98 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">117.11 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">75.88 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">43.11 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">98.97 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">184.43 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">35.99 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">458.61 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">267.13 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">25.06 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">52.51 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">17.73 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">215.41 </span>
Fiyat <span class="base yf-ipw1h0" data-testid="qsp-price">161.81 </span>

In [80]:
prices

[113.17,
 168.01,
 182.0,
 80.52,
 69.45,
 41.63,
 173.98,
 117.11,
 75.88,
 43.11,
 98.97,
 184.43,
 35.99,
 458.61,
 267.13,
 25.06,
 52.51,
 17.73,
 215.41,
 161.81]

In [81]:
dfbuy["Prices"]=prices

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_5452\1150400394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbuy["Prices"]=prices

In [82]:
dfbuy

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score,Prices
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609,113.17
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319,168.01
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420,182.00
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449,80.52
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536,69.45
5,SMCI,13.64,1.22,3.93,1.16,18.12,0.884058,0.898551,0.398551,0.927536,0.666667,3.775362,41.63
6,EPAM,16.42,2.06,2.71,1.82,13.22,0.797101,0.637681,0.579710,0.884058,0.855072,3.753623,173.98
7,STX,12.64,3.00,--,3.42,13.66,0.913043,0.478261,0.956522,0.449275,0.811594,3.608696,117.11
8,AKAM,12.36,2.90,2.37,3.53,11.20,0.942029,0.579710,0.623188,0.434783,0.942029,3.521739,75.88
9,ON,19.05,2.76,2.23,2.74,12.52,0.724638,0.608696,0.652174,0.594203,0.869565,3.449275,43.11
10,NTAP,12.80,3.23,20.67,3.16,11.94,0.898551,0.434783,0.565217,0.500000,0.913043,3.311594,98.97
11,TXN,33.44,10.54,10.20,10.91,22.99,0.260870,0.840580,0.869565,0.826087,0.492754,3.289855,184.43
12,JNPR,17.61,2.34,2.49,2.37,19.45,0.739130,0.623188,0.608696,0.623188,0.608696,3.202899,35.99
13,MSFT,30.49,12.65,10.56,12.52,22.53,0.340580,0.753623,0.811594,0.739130,0.521739,3.166667,458.61
14,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710,267.13
15,HPQ,7.49,0.49,--,0.62,7.31,0.057971,0.985507,0.956522,0.985507,0.086957,3.072464,25.06
16,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478,52.51
17,HPE,9.82,0.77,0.92,0.89,5.62,0.000000,0.956522,0.898551,0.956522,0.159420,2.971014,17.73
18,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797,215.41
19,TEL,20.00,3.04,3.93,3.16,13.52,0.673913,0.463768,0.398551,0.500000,0.840580,2.876812,161.81

In [83]:
dfbuy["YatÄ±rÄ±lcak Para"]=None

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_5452\387816453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbuy["YatÄ±rÄ±lcak Para"]=None

In [84]:
x=float(input("yatÄ±rÄ±lcak miktar girin"))

yatÄ±rÄ±lcak miktar girin 1000000

In [85]:
dfbuy["YatÄ±rÄ±lcak Para"]=x/20

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_5452\1541590588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbuy["YatÄ±rÄ±lcak Para"]=x/20

In [86]:
dfbuy

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score,Prices,YatÄ±rÄ±lcak Para
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609,113.17,50000.0
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319,168.01,50000.0
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420,182.00,50000.0
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449,80.52,50000.0
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536,69.45,50000.0
5,SMCI,13.64,1.22,3.93,1.16,18.12,0.884058,0.898551,0.398551,0.927536,0.666667,3.775362,41.63,50000.0
6,EPAM,16.42,2.06,2.71,1.82,13.22,0.797101,0.637681,0.579710,0.884058,0.855072,3.753623,173.98,50000.0
7,STX,12.64,3.00,--,3.42,13.66,0.913043,0.478261,0.956522,0.449275,0.811594,3.608696,117.11,50000.0
8,AKAM,12.36,2.90,2.37,3.53,11.20,0.942029,0.579710,0.623188,0.434783,0.942029,3.521739,75.88,50000.0
9,ON,19.05,2.76,2.23,2.74,12.52,0.724638,0.608696,0.652174,0.594203,0.869565,3.449275,43.11,50000.0
10,NTAP,12.80,3.23,20.67,3.16,11.94,0.898551,0.434783,0.565217,0.500000,0.913043,3.311594,98.97,50000.0
11,TXN,33.44,10.54,10.20,10.91,22.99,0.260870,0.840580,0.869565,0.826087,0.492754,3.289855,184.43,50000.0
12,JNPR,17.61,2.34,2.49,2.37,19.45,0.739130,0.623188,0.608696,0.623188,0.608696,3.202899,35.99,50000.0
13,MSFT,30.49,12.65,10.56,12.52,22.53,0.340580,0.753623,0.811594,0.739130,0.521739,3.166667,458.61,50000.0
14,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710,267.13,50000.0
15,HPQ,7.49,0.49,--,0.62,7.31,0.057971,0.985507,0.956522,0.985507,0.086957,3.072464,25.06,50000.0
16,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478,52.51,50000.0
17,HPE,9.82,0.77,0.92,0.89,5.62,0.000000,0.956522,0.898551,0.956522,0.159420,2.971014,17.73,50000.0
18,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797,215.41,50000.0
19,TEL,20.00,3.04,3.93,3.16,13.52,0.673913,0.463768,0.398551,0.500000,0.840580,2.876812,161.81,50000.0

In [87]:
dfbuy["AlÄ±ncak_Lot"]=dfbuy["YatÄ±rÄ±lcak Para"]/dfbuy["Prices"]

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_5452\715069174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbuy["AlÄ±ncak_Lot"]=dfbuy["YatÄ±rÄ±lcak Para"]/dfbuy["Prices"]

In [88]:
dfbuy

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score,Prices,YatÄ±rÄ±lcak Para,AlÄ±ncak_Lot
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609,113.17,50000.0,441.813201
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319,168.01,50000.0,297.601333
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420,182.00,50000.0,274.725275
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449,80.52,50000.0,620.963736
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536,69.45,50000.0,719.942405
5,SMCI,13.64,1.22,3.93,1.16,18.12,0.884058,0.898551,0.398551,0.927536,0.666667,3.775362,41.63,50000.0,1201.056930
6,EPAM,16.42,2.06,2.71,1.82,13.22,0.797101,0.637681,0.579710,0.884058,0.855072,3.753623,173.98,50000.0,287.389355
7,STX,12.64,3.00,--,3.42,13.66,0.913043,0.478261,0.956522,0.449275,0.811594,3.608696,117.11,50000.0,426.949022
8,AKAM,12.36,2.90,2.37,3.53,11.20,0.942029,0.579710,0.623188,0.434783,0.942029,3.521739,75.88,50000.0,658.935161
9,ON,19.05,2.76,2.23,2.74,12.52,0.724638,0.608696,0.652174,0.594203,0.869565,3.449275,43.11,50000.0,1159.823707
10,NTAP,12.80,3.23,20.67,3.16,11.94,0.898551,0.434783,0.565217,0.500000,0.913043,3.311594,98.97,50000.0,505.203597
11,TXN,33.44,10.54,10.20,10.91,22.99,0.260870,0.840580,0.869565,0.826087,0.492754,3.289855,184.43,50000.0,271.105569
12,JNPR,17.61,2.34,2.49,2.37,19.45,0.739130,0.623188,0.608696,0.623188,0.608696,3.202899,35.99,50000.0,1389.274799
13,MSFT,30.49,12.65,10.56,12.52,22.53,0.340580,0.753623,0.811594,0.739130,0.521739,3.166667,458.61,50000.0,109.025098
14,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710,267.13,50000.0,187.174784
15,HPQ,7.49,0.49,--,0.62,7.31,0.057971,0.985507,0.956522,0.985507,0.086957,3.072464,25.06,50000.0,1995.211492
16,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478,52.51,50000.0,952.199581
17,HPE,9.82,0.77,0.92,0.89,5.62,0.000000,0.956522,0.898551,0.956522,0.159420,2.971014,17.73,50000.0,2820.078962
18,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797,215.41,50000.0,232.115501
19,TEL,20.00,3.04,3.93,3.16,13.52,0.673913,0.463768,0.398551,0.500000,0.840580,2.876812,161.81,50000.0,309.004388

In [89]:
dfbuy["AlÄ±ncak_Lot"] = np.floor(dfbuy["AlÄ±ncak_Lot"])

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_5452\510231821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfbuy["AlÄ±ncak_Lot"] = np.floor(dfbuy["AlÄ±ncak_Lot"])

In [90]:
dfbuy

,Symbol,Forward P/E,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Forward P/E_percentile,Price/Sales_percentile,Price/Book_percentile,Enterprise Value/Revenue_percentile,Enterprise Value/EBITDA_percentile,Total_Percentile_Score,Prices,YatÄ±rÄ±lcak Para,AlÄ±ncak_Lot
0,DELL,12.21,0.86,--,1.03,10.30,0.956522,0.942029,0.956522,0.942029,0.985507,4.782609,113.17,50000.0,441.0
1,JBL,16.95,0.71,13.26,0.72,11.99,0.768116,0.971014,0.753623,0.971014,0.898551,4.362319,168.01,50000.0,297.0
2,CDW,19.12,1.16,10.39,1.38,14.98,0.710145,0.927536,0.840580,0.913043,0.768116,4.159420,182.00,50000.0,274.0
3,CTSH,15.90,1.99,2.66,1.93,10.53,0.811594,0.869565,0.594203,0.869565,0.956522,4.101449,80.52,50000.0,620.0
4,SWKS,13.76,2.84,1.76,2.58,10.50,0.869565,0.594203,0.884058,0.608696,0.971014,3.927536,69.45,50000.0,719.0
5,SMCI,13.64,1.22,3.93,1.16,18.12,0.884058,0.898551,0.398551,0.927536,0.666667,3.775362,41.63,50000.0,1201.0
6,EPAM,16.42,2.06,2.71,1.82,13.22,0.797101,0.637681,0.579710,0.884058,0.855072,3.753623,173.98,50000.0,287.0
7,STX,12.64,3.00,--,3.42,13.66,0.913043,0.478261,0.956522,0.449275,0.811594,3.608696,117.11,50000.0,426.0
8,AKAM,12.36,2.90,2.37,3.53,11.20,0.942029,0.579710,0.623188,0.434783,0.942029,3.521739,75.88,50000.0,658.0
9,ON,19.05,2.76,2.23,2.74,12.52,0.724638,0.608696,0.652174,0.594203,0.869565,3.449275,43.11,50000.0,1159.0
10,NTAP,12.80,3.23,20.67,3.16,11.94,0.898551,0.434783,0.565217,0.500000,0.913043,3.311594,98.97,50000.0,505.0
11,TXN,33.44,10.54,10.20,10.91,22.99,0.260870,0.840580,0.869565,0.826087,0.492754,3.289855,184.43,50000.0,271.0
12,JNPR,17.61,2.34,2.49,2.37,19.45,0.739130,0.623188,0.608696,0.623188,0.608696,3.202899,35.99,50000.0,1389.0
13,MSFT,30.49,12.65,10.56,12.52,22.53,0.340580,0.753623,0.811594,0.739130,0.521739,3.166667,458.61,50000.0,109.0
14,VRSN,30.49,16.52,--,16.77,23.19,0.340580,0.666667,0.956522,0.666667,0.449275,3.079710,267.13,50000.0,187.0
15,HPQ,7.49,0.49,--,0.62,7.31,0.057971,0.985507,0.956522,0.985507,0.086957,3.072464,25.06,50000.0,1995.0
16,WDC,9.50,1.18,3.53,1.43,14.34,0.014493,0.913043,0.420290,0.898551,0.797101,3.043478,52.51,50000.0,952.0
17,HPE,9.82,0.77,0.92,0.89,5.62,0.000000,0.956522,0.898551,0.956522,0.159420,2.971014,17.73,50000.0,2820.0
18,ADI,28.17,10.95,3.06,11.39,25.50,0.420290,0.826087,0.478261,0.782609,0.398551,2.905797,215.41,50000.0,232.0
19,TEL,20.00,3.04,3.93,3.16,13.52,0.673913,0.463768,0.398551,0.500000,0.840580,2.876812,161.81,50000.0,309.0

In [91]:
new_df= dfbuy.loc[:, ["Symbol", "Prices", "AlÄ±ncak_Lot"]]

In [92]:
new_df

   Symbol  Prices  AlÄ±ncak_Lot
0    DELL  113.17        441.0
1     JBL  168.01        297.0
2     CDW  182.00        274.0
3    CTSH   80.52        620.0
4    SWKS   69.45        719.0
5    SMCI   41.63       1201.0
6    EPAM  173.98        287.0
7     STX  117.11        426.0
8    AKAM   75.88        658.0
9      ON   43.11       1159.0
10   NTAP   98.97        505.0
11    TXN  184.43        271.0
12   JNPR   35.99       1389.0
13   MSFT  458.61        109.0
14   VRSN  267.13        187.0
15    HPQ   25.06       1995.0
16    WDC   52.51        952.0
17    HPE   17.73       2820.0
18    ADI  215.41        232.0
19    TEL  161.81        309.0

In [93]:
with pd.ExcelWriter("output2.xlsx", engine='xlsxwriter') as writer:
    new_df.to_excel(writer, index=False, sheet_name='Sayfa1')

    workbook  = writer.book
    worksheet = writer.sheets['Sayfa1']

    worksheet.set_row(0, 30)  

    worksheet.set_column('A:A', 15)  
    worksheet.set_column('B:B', 10)  
    worksheet.set_column('C:C', 8)  

    header_format = workbook.add_format({
        'bold': True,
        'text_wrap': True,
        'valign': 'vcenter',
        'fg_color': '#D7E4BC',  
        'border': 1
    })

    for col_num, value in enumerate(new_df.columns.values):
        worksheet.write(0, col_num, value, header_format)